/* settings basic format */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #dfe2e2;
}
article{
    background-color: #dfe2e2;
}

/* body Grid Tablet */
/* Recursive adaptation */
.body-style{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #dfe2e2;
    overflow: hidden;
}
.section-sytle{
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
}
    .portal{
    background-image:url("../Imagenes/Codigo.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%; 
    height: 100vh;
    display: flex;
    align-items: center;

    }
        .portal .portal-text{
            width: 100%;
            font-size: 2.4em;
            font-family: monospace;
            color: white;
            margin-left:5%;
            padding:2%;
            border-radius:5px;
            animation-name: animation_left;
            animation-duration: 1s;
            animation-fill-mode: forwards; 
            animation-play-state: paused;
        }
        .portal .portal-text h1{
            font: 1.56em;
        }
        .portal .portal-text h3{
            font-weight: 50;
            font-size: 1.01em;
            margin-bottom: 35px;
        }
        .portal .portal-text p{
            display: inline-block;
            font-size: .4em;
            background-color: #23272A;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
            color:#EEF1F5;
            transition: .5s;
            -webkit-transition: .5s;

        }
        .portal .portal-text p{
            background-color: #23272A;
            transform: scale(1.1);
        }
        .portal .portal-text p:active{
            background-color: #1cb3c8;
            -webkit-tap-highlight-color: #1cb3c8;
            transform: scale(0.9);
            -webkit-transform: scale(.9)
        }
    .about-me{
        background-color: #dfe2e2;
        animation-name: animation_left;
        animation-duration: 1s;
        animation-fill-mode: forwards; 
        animation-play-state: paused;        
    }
        .about-me img{
            display: none;

        }
        .about-me p:last-child{
            margin-bottom: 30px;
        }
    .skill{
        background-color: #dfe2e2;
        transition: .4s;
        box-shadow: 0px 0px 0px 0px #888888;

    }
    .content-skills{
        animation-name: animation_top;
        animation-duration: 1s; 
        animation-fill-mode: forwards; 
        animation-play-state: paused;
    }

        .skill:nth-last-child(1){
            margin-bottom: 10%;
        }
        .skill .heading-title img{
            height: 50px;
            width: 75px;
            margin: 0 auto;
        }

    .projects-content{
        background-color: #3c415e;
        position: relative;
        overflow: hidden;
    }
        .content-adjust{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0;
            animation-name: animation_right;
            animation-duration: 1s; 
            animation-fill-mode: forwards; 
            animation-play-state: paused;
        }
        .project:nth-last-child(1){
            margin-bottom:10%; 
        }
        .project{
            height: 220px;
            width: 90%;
            display: flex;
            align-items: center;
            margin-top: 2%;
            background-image: url(../Imagenes/Codigo.jpg);
            background-size: 100% 100%;
            border-radius: 6px;
            transition: .6s;
        }
        .project:active{
            transform: scale(.9);
        }


        .project.right{
            justify-content: flex-end;
        }
            .project .text-project{
                color: white;
                font-size: 2em;
                margin-left: 6%;
            }
            .project .text-project.right{
                margin-right: 6%;
            }
.contact-me{
    background-color: #738598;
    color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
    .spider-social{
        width: 150px;
    }
    .contact-me .spider-social img{
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-right: 2%;
    }


/* Clases generales para elementos */
.text-prefit-movil{
    padding: 8px;
    text-align: center;
    font-size: 16px;

}
.title-content-movil{
    font-size: 29px;
}
.marker-title{
    border-bottom: #1cb3c8 solid 2px;
    width: 150px;
    margin: 5% auto;
}
.marker-sub-title{
    border-bottom: #1cb3c8 solid 2px;
    width: 75px;
    margin: 2% auto;
}
.sub-title-content-movil{
    font-size: 22px;
    font-weight: 300;
}

.content-movil{
    /* height: 200vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* margin: 10% 0; */
}
.heading-title{
    margin-top:30px;
    display: flex;
    flex-direction: column; 

}

@media screen and (min-width:767px){
    .portal .portal-text{
        font-size: 5em;
    }

    .about-me img{
        display: inherit;
        width: 300px;
        height: 300px;
        margin-top: 6%;
        
    }
    .content-skills{
        display: grid;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
        padding: 0 3%;
        margin-bottom: 7%;
        opacity: 0;
    }
    .skill:nth-last-child(1){
        margin-bottom: 0;
    }

    .project:nth-last-child(1){
        margin-bottom:0 ;
    }
    .content-adjust{
        display: grid;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
        justify-items: center;
        margin-bottom: 8%;
    }
    .contact-me{
        flex-direction: row;
        justify-content: space-between;
    }
        .spider-social{
            width: 250px;
        }
        .contact-me .spider-social img{
            width: 50px;
            height: 50px;
        }
    .content-perfil{
        display: flex;
    }
    .title-content-movil{
        font-size: 3em !important;
    }
    h3.text-prefit-movil,h4.text-prefit-movil{
        text-align: center;
    }
    .text-prefit-movil{
        font-size: 1.2em;
        text-align: start;       
    }
    .marker-title{
        margin: 3% auto;
        width: 250px;
    }
    .sub-title-content-movil{
        font-size: 2.1em;
    }

}
@media screen and (min-width:1023px){
    .skill:hover{
        transform: scale(1.1);
        box-shadow: 5px 8px 8px 7px #738598;
        z-index: 1;
    }
    .project{
        transition: .4s;
    }
    .project:hover{
        transform: scale(1.1);
        box-shadow: 5px 8px 8px 7px #2f334b;

    }
    .project:active{
        transform: scale(1);
    }

}
@keyframes animation_left{
    0%{
        display: none;

        transform: translateX(300px);
        opacity: 0;
    }
    100%{
        display: inherit;
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes animation_top{
    0%{
        transform: translateY(300px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }   
}
@keyframes animation_right{
    0%{
        transform: translateX(-100%);
        opacity:1;
    }
    40%{
        transform: translateX(20px);
        opacity:1;

    }
    80%{
        transform: translateX(-20px);
        opacity:1;

    }
    100%{
        transform: translateX(0px);
        opacity:1;

    }
}