/* settings basic format */
*{
    margin: 0;
    padding: 0;
}
article{
    background-color: #dfe2e2;
}

/* body Grid Tablet */
/* Recursive adaptation */
.body-style{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.section-sytle{
    display: flex;
    flex-direction: column;
}
    .portal{
    background-image:url("../Imagenes/Codigo.jpg");
    background-repeat:no-repeat;
    background-size:100% 100%; 
    height: 100vh;
    display: flex;
    align-items: center;

    }
        .portal .portal-text{
            width: 100%;
            font-size: 2.4em;
            font-family: monospace;
            color: white;
            margin-left:5%;
            padding:2%;
            border-radius:5px;
        }
        .portal .portal-text h1{
            font: 1.56em;
        }
        .portal .portal-text h3{
            font-weight: 50;
            font-size: 1.01em;
            margin-bottom: 35px;
        }
        .portal .portal-text p{
            display: inline-block;
            font-size: .4em;
            background-color: #23272A;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
            color:#EEF1F5;
            transition-duration: 500;
        }
        .portal .portal-text p:hover{
            background-color: #1cb3c8;
            transform: scale(1.1);
        }
        .portal .portal-text p:active{
            background-color: #1cb3c8;
            transform: scale(0.9);
        }
    .about-me{
        background-color: #dfe2e2;
    }
        .about-me img{
            display: none;
        }
        .about-me p:last-child{
            margin-bottom: 30px;
        }
    .skill{
        background-color: #dfe2e2;
    }
        .skill:nth-last-child(1){
            margin-bottom: 10%;
        }
        .skill .heading-title img{
            height: 50px;
            width: 75px;
            margin: 0 auto;
        }

    .projects-content{
        background-color: #3c415e;
    }
        .content-adjust{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .project:nth-last-child(1){
            margin-bottom:10%; 
        }
        .project{
            height: 220px;
            width: 90%;
            display: flex;
            align-items: center;
            margin-top: 2%;
            background-image: url(../Imagenes/Codigo.jpg);
            background-size: 100% 100%;
            border-radius: 6px;
        }
        .project.right{
            justify-content: flex-end;
        }
            .project .text-project{
                color: white;
                font-size: 2em;
                margin-left: 6%;
            }
            .project .text-project.right{
                margin-right: 6%;
            }
.contact-me{
    background-color: #738598;
    color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;    
}
    .spider-social{
        width: 150px;
    }
    .contact-me .spider-social img{
        display: inline-block;
        height: 30px;
        width: 30px;
        margin-right: 2%;
    }


/* Clases generales para elementos */
.text-prefit-movil{
    padding: 8px;
    text-align: center;
    font-size: 16px;
}
.title-content-movil{
    font-size: 29px;
}
.marker-title{
    border-bottom: #1cb3c8 solid 2px;
    width: 150px;
    margin: 5% auto;
}
.marker-sub-title{
    border-bottom: #1cb3c8 solid 2px;
    width: 75px;
    margin: 2% auto;
}
.sub-title-content-movil{
    font-size: 22px;
    font-weight: 300;
}

.content-movil{
    /* height: 200vh; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* margin: 10% 0; */
}
.heading-title{
    margin-top:30px;
    display: flex;
    flex-direction: column; 
}

@media screen and (min-width:767px){
    .portal .portal-text{
        font-size: 5em;
    }

    .about-me img{
        display: inherit;
        width: 300px;
        height: 300px;
        margin-top: 15%;
    }
    .content-skills{
        display: grid;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
        padding: 0 3%;
        margin-bottom: 7%;

    }
    .project:nth-last-child(1){
        margin-bottom:0 ;
    }
    .content-adjust{
        display: grid;
        grid-template-rows: repeat(2,50%);
        grid-template-columns: repeat(2,50%);
        justify-items: center;
        margin-bottom: 8%;
    }
    .contact-me{
        flex-direction: row;
        justify-content: space-between;
    }
        .spider-social{
            width: 250px;
        }
        .contact-me .spider-social img{
            width: 50px;
            height: 50px;
        }
    .content-perfil{
        display: flex;
    }
    .title-content-movil{
        font-size: 3em !important;
    }
    h3.text-prefit-movil,h4.text-prefit-movil{
        text-align: center;
    }
    .text-prefit-movil{
        font-size: 1.2em;
        text-align: start;       
    }
    .marker-title{
        margin: 3% auto;
        width: 250px;
    }
    .sub-title-content-movil{
        font-size: 2.1em;
    }

}
@media screen and (min-width:1024px){
    
}