/* settings basic format */
*{
    margin: 0;
    padding: 0;
}

/* body Grid Tablet */
.body-style{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 353vh;
    display: grid;
    grid-template-rows: 92% 8%;
}
.header-style{
    display: grid;
    position: fixed;
    height: 60px;
    width: 100vw;
    grid-template-columns: 5% 95%;
    align-items: center; 
    justify-items: center;
    top: -60px;
    background-color: aqua;
}
    .header-style.active-menu{
        top:0px;
    }

    .header-style .menu{
        margin-right: 1%;
    }
    .header-style .menu .atributos{
        display: inline;
        margin-right: 20px;
    }
.section-style{
    background-color: royalblue;
}
.portal{
    background-color: brown;
    height: 100vh;
    display: flex;
    align-items: center;
}
    .portal .portal-text{
        background-color: rgb(218, 60, 60);
        font-size: 4em;
    }
    .portal .portal-text p{
        display: inline;
        font-size: .7em;
        margin-left: 15%;
    }
.description{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
    .description .description-content{
        width: 80%;
        height: 67%;
        background-color: rgb(230, 180, 107);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
        justify-items: center;
    }
    .description .description-content .images-perfil{
        height: 70%;
        width: 90%;
        background-color: darkgoldenrod;
        border-radius: 50%;
        margin-left: 36%;
    }
    .description .description-content .texto-perfil{
        width: 80%;
        height: 60%;
        background-color: darkslateblue;
    }
.skills{
    height: 85vh;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .skills .skills-content{
        width: 81%;
        height: 92%;
        display: grid;
        grid-template-columns: repeat(4,25%)
    }
    .skills .skills-content .etiquetas{
        background-color: gold;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 11%;

    }
        .skills .skills-content .etiquetas .decora{
            height: 30px;
            width: 30px;
            position: relative;
            bottom: 13px;
            background-color: aqua;
            border-radius: 50%;
        }
        .skills .skills-content .etiquetas .images-title{
            height: 20%;
            width: 60%;
            border-radius: 50%;
            background-color: aqua;
        } 
        .skills .skills-content .etiquetas .slide{
            height: 3%;
            width: 80%;
            margin-top: 5%;
            border-radius: 8px;
            background-color: aqua;
        }
        .skills .skills-content .etiquetas .content{
            height: 60%;
            width: 80%;
            margin-top: 6%;
            border-radius: 5px;
            background-color: aqua;
        } 
.proyects{
    height: 80vh;
    background-color: rgba(66, 240, 109, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}
    .proyects .content{
        height: 80%;
        width: 90%;
        display: grid;
        grid-template-rows: 10% 90%;
        background-color: blueviolet;
        border: 4px solid salmon;
    }
    .proyects .content .filtros-etiquetas{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .proyects .content .filtros-etiquetas .fil-etiqueta{
            list-style: none;
            margin-left: 5%;
        }
        #JS{
            background-color: rgb(236, 173, 0);
            padding: 5px;
            border-radius: 10px;
        }
        #PY{
            background-color: rgb(242, 255, 55);
            padding: 5px;
            border-radius: 10px;
        }
        #PHOTO{
            background-color: rgb(0, 0, 180);
            padding: 5px;
            border-radius: 10px;
        }
    .proyects .content .content-projects{
        width: 100%;
        border-top: solid 5px khaki;
        display: grid;
        grid-template-columns: repeat(auto-fill,50%);
        overflow: auto;
    }
        .proyects .content .content-projects .image-project{
            background-color: darkcyan;
            height: 165px;
            width: 100%;
        }
        .image-project.javascript{
            background-color: cornflowerblue !important;
        }
        .image-project.python{
            background-color: rgb(242, 255, 55) !important;
        }
        .image-project.photoshop{
            background-color: darkblue !important;
        }
        .image-project
.footer-style{
    background-color: rebeccapurple;
}
@media screen and (max-width:320px){ 
    .proyects .content .content-projects{
        grid-template-columns: 100%;
    }
}